{sub_dirs, ["rel"]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
        {reltool_util, ".*", {git, "https://github.com/okeuday/reltool_util.git", {tag, "v1.4.0"}}},
        {riak_core, ".*", {git, "git://github.com/Regulators/riak_core", {tag,"2.0.1jb5"}}},
        {rafter, ".*", {git, "https://github.com/loucash/rafter.git", {branch, "loucash-test-and-fix-rafter_log"}}},
        {backoff, ".*", {git, "https://github.com/ferd/backoff.git", "e66e80a874dd7c7dfdd658c8ee2c2fc2231ad333"}}
       ]}.

{cover_enabled, true}.

{clean_files, ["test/*.beam"]}.
