{deps, [
        {reltool_util, ".*", {git, "https://github.com/okeuday/reltool_util.git", {tag, "v1.4.0"}}},
        {riak_core, ".*", {git, "git://github.com/Regulators/riak_core", {tag,"2.0.1jb3"}}},
        {rafter, ".*", {git, "git@github.com:andrewjstone/rafter.git", {branch, "master"}}}
       ]}.

{cover_enabled, true}.

{clean_files, ["test/*.beam"]}.
