%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

%% ===============================================================
%%  Global configurations
%% ===============================================================

%% This section contains the configuration variables that will be
%% applied to all tests.
{default, [
    %% GiddyUp settings: If your tester needs to report results or
    %% fetch a test suite from GiddyUp, set these configs. The
    %% canonical GiddyUp host is currently giddyup.basho.com.
    %% Authentication is required to post results, so ask someone on
    %% Testing/Tools for the credentials if you need them.
    {giddyup_host, "localhost:5000"},
    {giddyup_user, "user"},
    {giddyup_password, "password"},

    {cover_enabled, true},
    {cover_apps, [
          riak_governor
    ]},

    %% The symbolic platform name used for reporting and fetching the
    %% suite. You won't likely need this unless you are actually
    %% submitting results to the scorecard, like on an automated
    %% builder. Typically this is in the format
    %% "NAME-VERSION-ARCHITECTURE". See GiddyUp for valid platform
    %% names.
    {platform, "osx-64"},

    %% riak_test includes various wait_for_X functions that will
    %% repeatedly test for specific conditions until they are
    %% satisfied. `rt_max_wait_time' specifies the maximum length, in
    %% milliseconds, that any condition can wait. `rt_retry_delay'
    %% specifies the time, in milliseconds, that will be between each
    %% test of the wait condition. On slower machines, these values
    %% should be increased.
    {rt_max_wait_time, 600000},
    {rt_retry_delay, 1000},

    %% How long to let any test run before killing it, undefined means no limit.
    %% Valid timeouts are in milliseconds.
    {test_timeout, undefined},

    %% The harness specifies how Riak nodes under test will be
    %% manipulated. There is currently only `rtdev', which uses local
    %% `devrel's inside a git repository. In the future, we may have
    %% harnesses that use SSH to connect to remote virtual machines.
    %% To set up the `rtdev' harness for the first time, use the shell
    %% scripts in the bin/ directory.
    {rt_harness, riak_governor_harness},
    {rt_services, [riak_governor]},
    {rt_console, riak_governor_console},

    %% The scratch directory specifies where riak_test will put
    %% temporary testing artifacts like client packages, git
    %% checkouts, etc.
    {rt_scratch_dir, "/tmp/riak_test_scratch"},

    %% The path to a prebuilt copy of basho_bench that tests can
    %% invoke. This was previously used in the `loaded_upgrade' test.
    {basho_bench, "/Users/dparfitt/basho/basho_bench"},

    %% The path to a corpus of spam emails to be used when testing
    %% Riak Search. This is typically expanded from the tarball
    %% included in riak_test.
    {spam_dir, "/Users/dparfitt/riak_test/search-corpus/spam.0"},

    %% The number of workers-per-node to spawn when executing the
    %% `loaded_upgrade' test. If unspecified, this will default to
    %% `10'. For older/slower machines, use a lower number to avoid
    %% unexpected node crashes.
    {load_workers, 10},

    %% lager_level defaults to info, which is should mean
    %% "relevant test output". debug level output is for helping
    %% test writers.
    {lager_level, info}
]}.

%% ===============================================================
%%  Project-specific configurations
%% ===============================================================
{riak_governor, [
    %% The name of the project/product, used when fetching the test
    %% suite and reporting.
    {rt_project, "riak_governor"},
    {rt_cookie,  riak_governor},
    {test_paths, ["./test"]},

    %% Paths to the locations of various versions of the project. This
    %% is only valid for the `rtdev' harness.
    {rtdev_path, [
                  %% This is the root of the built `rtdev' repository,
                  %% used for manipulating the repo with git. All
                  %% versions should be inside this directory.
                  {root, "./dev"},

                  %% The path to the `current' version, which is used
                  %% exclusively except during upgrade tests.
                  {current, "./dev"},

                  %% The path to the most immediately previous version
                  %% of the project, which is used when doing upgrade
                  %% tests.
                  {previous, "./dev"},

                  %% The path to the version before `previous', which
                  %% is used when doing upgrade tests.
                  {legacy, "./dev"}
                 ]}
]}.
