{sys, [
       {lib_dirs, ["../../", "../deps/"]},
       {rel, "riak_governor", "0.1.0",
        [
         kernel,
         stdlib,
         sasl,
         folsom,
         riak_governor
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak_governor"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, riak_governor, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "riak_governor"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/riak_governor", "bin/riak_governor"},
           {template, "files/riak_governor-admin", "bin/riak_governor-admin"}
           ]}.
